@page "/allusers"
@inject HttpClient Http
@attribute [Authorize]

<AuthorizeView Roles="Admin">

    <PageTitle>Edit Community - Community Utility Services</PageTitle>

    <!-- Page Header -->
    <div class="bg-custom text-white py-4 mb-4">
        <div class="container">
            <div class="d-flex align-items-center">
                <div>
                    <h1 class="h2 mb-1">All Users</h1>
                    <p class="mb-0 opacity-75">You can manage Users, set role or delete user entirely</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card border-0 shadow-sm">
                    <div class="card-body p-4">
                        @* Form Ends *@
                        @* Start of Users Table *@
                        <div class="container mb-4">
                            <div class="card communities-table border-0 shadow-sm">
                                <div class="card-header bg-white py-3">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="mb-0">
                                            <i class="bi bi-gear-fill text-primary me-2"></i>
                                            Users - @usersFlag
                                        </h5>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-scroll">
                                        <table class="table table-hover mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Username</th>
                                                    <th>Email</th>
                                                    <th>Role</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>

                                            @if (users != null && users.Any())
                                            {
                                                foreach (var user in users)
                                                {
                                                    <tbody>
                                                        <tr>
                                                            <td>@user.Id</td>
                                                            <td>
                                                                <i class="bi bi-droplet-fill text-primary me-2"></i>
                                                                <strong>@user.Username</strong>
                                                            </td>
                                                            <td><span class="badge bg-warning text-dark">@user.Email</span></td>
                                                            <td><span class="badge bg-success">@user.Role</span></td>
                                                            <td>
                                                                @if (usersFlag == "managers")
                                                                {
                                                                    <button @onclick=" () => RemoveManager(user.Id)" class="btn btn-sm btn-outline-danger">
                                                                        Remove
                                                                    </button>
                                                                }
                                                                else if (usersFlag == "all")
                                                                {
                                                                    <button @onclick=" () => MakeManager(user.Id)" class="btn btn-sm btn-outline-success">
                                                                        Make manager
                                                                    </button>
                                                                    <button @onclick=" () => MakeAdmin(user.Id)" class="btn btn-sm btn-outline-success">
                                                                        Make Admin
                                                                    </button>
                                                                }
                                                                else if (usersFlag == "admins")
                                                                {
                                                                    <button @onclick=" () => RemoveAdmin(user.Id)" class="btn btn-sm btn-outline-danger">
                                                                        Remove
                                                                    </button>
                                                                }
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                }
                                            }
                                            else
                                            {
                                                <tbody>
                                                    <tr>
                                                        <p class="text-warning mb-0"> Users not found or missing name </p>
                                                    </tr>
                                                </tbody>
                                            }
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer bg-white">
                                    <div class="row justify-content-center">
                                        <div class="col-md-4 text-center">
                                            <button class="btn btn-primary w-75"
                                                    @onclick=" () => LoadAllUsers()">
                                                All Users
                                            </button>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <button class="btn btn-primary w-75"
                                                    @onclick=" () => LoadManagers()">
                                                All Managers
                                            </button>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <button class="btn btn-primary w-75"
                                                    @onclick=" () => LoadAdmins()">
                                                All Admins
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* End of Users Table *@

                    </div>
                    @if (!string.IsNullOrWhiteSpace(alertMessage))
                    {
                        <div class="position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center alert-bg">
                            <div class="bg-white rounded shadow p-4" style="max-width: 500px; width: 90%;">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>@alertMessage</span>
                                    <button type="button" class="btn btn-primary" @onclick="() => alertMessage = null">Close</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</AuthorizeView>

@code {
    private string input = "";
    private string? alertMessage = "";
    private string? usersFlag = "";
    private string? taskFlag = "";
    private List<UserReturnDTO> users;


    async Task LoadAllUsers()
    {
        usersFlag = "all";
        var response = await Http.GetFromJsonAsync<List<UserReturnDTO>>($"/User/Users");

        if (response != null && response.Any())
        {
            users = response;
        }
        else
        {
            alertMessage = "There are no users";
        }
    }

    async Task LoadManagers()
    {
        users = null;
        usersFlag = "managers";
        var response = await Http.GetFromJsonAsync<List<UserReturnDTO>>($"/User/Managers");

        if (response != null && response.Any())
        {
            users = response;
        }
        else
        {
            alertMessage = "There are no managers.";
        }
    }

    async Task LoadAdmins()
    {
        users = null;
        usersFlag = "admins";
        var response = await Http.GetFromJsonAsync<List<UserReturnDTO>>($"/User/Admins");

        if (response != null && response.Any())
        {
            users = response;
        }
        else
        {
            alertMessage = "There are no admins.";
        }
    }

    private async Task MakeManager(int userId)
    {
        usersFlag = "managers";
        var response = await Http.PostAsJsonAsync<UserReturnDTO>($"/User/role?userId={userId}&roleId={2}", null);

        if (response.IsSuccessStatusCode)
        {
            alertMessage = $"User with id: {userId}, role set to manager";
        }
        else
        {
            alertMessage = $"Failed to set manager role to user with id: {userId}";
        }

        await LoadManagers();
    }

    private async Task RemoveManager(int userId)
    {
        usersFlag = "admins";
        var response = await Http.PostAsJsonAsync<UserReturnDTO>($"/User/role?userId={userId}&roleId={1}", null);

        if (response.IsSuccessStatusCode)
        {
            alertMessage = $"User with id: {userId} manager role removed";
        }
        else
        {
            alertMessage = $"Failed to remove manager role to user with id: {userId}";
        }

        await LoadManagers();

    }

    private async Task MakeAdmin(int userId)
    {
        var response = await Http.PostAsJsonAsync<UserReturnDTO>($"/User/role?userId={userId}&roleId={3}", null);

        if (response.IsSuccessStatusCode)
        {
            alertMessage = $"User with id: {userId}, role set to admin";
        }
        else
        {
            alertMessage = $"Failed to set admin role to user with id: {userId}";
        }

        await LoadAdmins();
    }

    private async Task RemoveAdmin(int userId)
    {
        var response = await Http.PostAsJsonAsync<UserReturnDTO>($"/User/role?userId={userId}&roleId={1}", null);

        if (response.IsSuccessStatusCode)
        {
            alertMessage = $"User with id: {userId} admin role removed";
        }
        else
        {
            alertMessage = $"Failed to remove admin role to user with id: {userId}";
        }

        await LoadAdmins();
    }
}



