@using System.Net.Http.Headers
@inject NavigationManager navigation;
@inject AuthenticationService authenticationService;
@inject HttpClient Http

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <LayoutView Layout="@typeof(UnauthorizedLayout)"></LayoutView>
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(BlankLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code{
    [Inject] IJSRuntime JS { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var storedUserJson = await JS.InvokeAsync<string>("auth.getUserData");

        if (!string.IsNullOrWhiteSpace(storedUserJson))
        {
            var loginData =
                JsonSerializer.Deserialize<LoginResponseDTO>(storedUserJson);

            Http.DefaultRequestHeaders.Authorization =
                new AuthenticationHeaderValue("Bearer", loginData!.Token);

            authenticationService.NotifyUserAuthentication(loginData);
        }
    }
}